.mapouter {
    position: relative;
    text-align: right;
    margin-bottom: 50px;
}
.gmap_canvas {
    overflow: hidden;
    background: none !important;
}


.contact-section{
    margin: 60px 0;
    background-color: #f0F0F0;
}
.contact-section .container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
}

.contact-section .image-container {
    position: relative;
}
.contact-section  .image-container h2 ,
.contact-section  .image-container h1{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    font-weight: bold;
    color: #404147;
    width: fit-content;
}
@media (max-width:767px) {
    .contact-section  .image-container h2 ,
    .contact-section  .image-container h1 {
    font-size: unset;
}
}
.contact-section .container .image-container h2 {
    top: 10%;
}
.contact-section .container .image-container img {
    max-width: 100%;
    max-height:600px;
}
.contact-section  input {
    width: 100%;
    padding: 14px;
    margin: 20px 0;
    border: none;
    border-radius: 5px;
}
.contact-section input[name]:focus {
    outline: none;
    border-bottom: 2px solid  #414;
}

.contact-section input[type = "button"] {
    background: #414;
    color: white;
    width: 50%;
    cursor: pointer;
}
.contact-section  textarea {
    width: 100%;
    height: 200px;
    resize: none;
    border-radius: 5px;
    border: none;
    padding: 15px;
}
.contact-section  textarea:focus {
    outline: none;
}

.header-h1 {
    color: #404147;
    line-height: 1.5;
    border-bottom: 5px solid;
    width: fit-content;
}

.call-us-container a {
    display: block;
    padding: 20px 10px;
    background: black;
    text-decoration: none;
    color: white;
}
.call-us-container {
    position: fixed;
    bottom: 0;
    right: 2%;
    text-align: center;
}
.call-us-container  a i {
    color: white;
    display: block;
    font-size: 25px;
    margin-bottom: 4px;
}










/* ---------------------------------- */

.login {
    position: relative;
}

.login .container  {
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(450px,1fr));
    min-height: 600px;
    color: white;
}
@media (max-width:992px) {
    .login .container {
        padding: 0;
        width: 100%;
        height: unset;
    }
}

.login .container .text{
    position: relative;
    background-color: #0a2a66;
    min-height: 300px;
}
.login .container .text-container{
    padding: 10px;
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
}
.login .container h2{
    line-height: 1.8;
}
.login .text-container p:first-of-type {
    margin-bottom: 10px;
}


.form-container {
    display: grid;
    grid-template-columns: 90%;
    justify-content: center;
}

.media {
    margin-top: 30px;
}

.form-container form input {
    outline: none;
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    border-radius: 3px;
    border: none;
    border: 1px solid rgba(33,36,44,0.16)
}

.form-container form input[type=submit] {
    color: white;
    background-color: #0a2a66;
    cursor: pointer;
    padding: 15px;
    font-size: 19px;
    
}
.form-container {
    background-color: #eee;
}
.svg-container  {
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
}
.media-container{
    color: black;
    margin-bottom: 5px;
    border-radius: 3px;
}
.face:hover , .goog:hover , .app:hover , .cle:hover {
    background-color:white;
}
svg {
    width: 30px;
    margin: 0 7px;
}

.button-container .container {
    display: flex;
    justify-content: center;

}
.button-container  button {
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 900;
    background-color: #0a2a66;
    color: white;
    border: none;
    border-radius: 3px;
    border: 1px solid rgba(33,36,44,0.1);
    cursor: pointer;
}
.button-container  button:first-of-type {
    background-color: white;
    color: black;
}