
.product {
    margin:50px 0;
}
.product .container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
}
@media (max-width:767px) {
    .product .container {
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    }
}
.product .container .card-container {
    display: grid;
    gap:20px;
    grid-template-columns: 1fr 1fr;
}
.product  .card-container .product-card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    transition: 6s;
}
.product .card-container .product-card:before {
    display: none;
    cursor: pointer;
    content: "Buy it now ..";
    position: absolute;
    text-align: center;
    line-height: 1.7;
    background-color: #0a2a66;
    color: white;
    font-size: 20px;
    width: 80%;
    height: 10%;
    bottom:60%;
    right: 10%;
    z-index: 2;
    transition: 1s;
}
@media (max-width:767px) {
    .product .card-container .product-card:before  {
        bottom:70%;
        padding-bottom: 3px;
    }
}
.product .card-container .product-card:hover img {
    filter: blur(9px);
}
.product .card-container .product-card:hover:before {
    display: block;
}
.product  .card-container .product-card img {
    width: 100%;    
    height: 100%;
    transition: .6s;
}

.card-container .product-card  .card-text {
    padding: 10px;
    margin-top: 10px;
}
del {
    color: red;
}

/* ----------------------- */

.ft-product {
    margin: 50px 0;
    
}
.ft-product .card {
    overflow: hidden;
}
.ft-product .image-container {
    overflow: hidden;
}
.ft-product .card-container img {
    width: 100%;
    z-index: 1;
    transition: .6s;
}
.ft-product .image-container:hover img {
    transform: scale(1.2) skew(10deg);
    opacity: 0.7;

}
.ft-product .card-container {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
}
.ft-product .text-container {
    text-align: center;
    margin-bottom: 40px;
}
.ft-product .text-container  h2{
    font-size: 40px;
    color: #404147;
    border-bottom: 6px solid;
    line-height: 1.7;
}

.info-container {
    font-size: 18px;
    font-weight: 900;
}

